/* 
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2b2c54;
    height: 10000px;
}

.container {
    width: 1680px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    margin-top: 120px;
}

h2.mt87 {
    margin-top: 87px;
}

h2.mt117 {
    margin-top: 102px;
}

h2.mt120 {
    margin-top: 120px;
}

h2 span {
    position: relative;
}

h2 span::before {
    content: "";
    background: url("../pic/HeaderRedOval.png");
    position: absolute;
    width: 522px;
    height: 121px;
    top: -17px;
    left: -86px;
    z-index: -1;
}

h2.icon__left {
    /* background: url("../pic/HeaderRedOval.png") no-repeat 34% -1px; */
    padding-top: 15px;
}

h2.icon__right {
    /* background: url("../pic/HeaderRedOval.png") no-repeat 34% -1px; */
    padding-top: 15px;

}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 176px;
    height: 52px;
    background: #F6F4FE;
    border: 1px solid #6743EF;
    box-shadow: 0px 4px 0px #6743EF;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #6743EF;
}

.btn_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 206px;
    height: 60px;
    background: #9981F5;
    border: 1px solid #6743EF;
    box-shadow: 0px 4px 0px #6743EF, 0px 4px 30px rgba(128, 98, 242, 0.6);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 30px;
}

.btn_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 262px;
    height: 60px;
    background: #9981F5;
    border: 1px solid #6743EF;
    box-shadow: 0px 4px 0px #6743EF, 0px 4px 30px rgba(128, 98, 242, 0.6);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 730px;
}

.rotate_block {
    position: relative;
}

.rotate_block:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-2.65deg);
    background: #8062F2;
    z-index: -1;
}

.rotate_block h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F6F4FE;
    margin-bottom: 12px;
}

.rotate_block h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.rotate_block p {
    line-height: 140%;
    color: #F6F4FE;
    margin-bottom: 10px;
}

.rotate_block p span {
    font-weight: 500;
}

/* header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    margin-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

.header ul li:last-child {
    margin-right: 0;
}

.header img {
    padding: 13px 0;
}


/* program__block */
.program__block ul {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.program__block ul li {
    padding: 30px;
    padding-top: 300px;
    width: 541px;
    height: 609px;
    background: url('../pic/program1.png') no-repeat center;

}

.program__block li:nth-child(2) {
    background: url('../pic/fon_child.png'), url('../pic/program2.png') no-repeat center;

}

.program__block li:nth-child(3) {
    background: url('../pic/fon_child.png'), url('../pic/program3.png') no-repeat center;

}

/*program__block_prcol*/

.program__block_prcol {
    margin-top: 30px;
}

.program__block_prcol h2 {
    margin-top: 43px;
}

.program__block_prcol h2 span::before {
    content: "";
    background: url("../pic/HeaderRedOval.png");
    position: absolute;
    width: 522px;
    height: 121px;
    top: -17px;
    left: 328px;
    z-index: -1;

}

.program__block_prcol .AfterHeaderPrcol {
    margin-top: 43px;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #2B2C54;
    opacity: 0.7;
}

.program__block_prcol ul {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.program__block_prcol ul li {
    padding: 30px;
    padding-top: 200px;
    width: 826px;
    height: 560px;
    background: url('../pic/mask1.png'), url('../pic/program4.png') no-repeat center;
}

.program__block_prcol li:nth-child(2) {
    background: url('../pic/mask1.png'), url('../pic/program5.png') no-repeat center;

}


/* teachers */

.teachers ul {
    display: flex;
    justify-content: space-between;

}

.teachers ul li {
    width: 390px;
    height: 514px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.teachers ul li:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../pic/teacher_back1.png") center no-repeat;
    position: absolute;
    left: -30px;
    top: 50px;
    background-size: 100% 90%;
    z-index: -1;
    transition: 0.5s;
}

.teachers ul li:hover::before {
    background: url("../pic/teacher_back2.png") center no-repeat;
    background-size: 100% 90%;
}

.teachers ul li p {
    height: 90px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: rgba(43, 44, 84, 0.7);
    padding-top: 33px;
    box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}

/*Free_lessons*/
.free_lessons {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}

.zayavka {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    Line-height: 21.6px;
    margin-top: 20px;
}


/*ChoosingUs*/

.ChoosingUs {
    background: url(../pic/back1_choosingUs.png) center no-repeat;
    position: relative;
    margin-top: 105px;
    padding: 2px;
    height: 1314px;

}

.ChoosingUs::before {
    background: url(../pic/back2_choosingUs.png) center no-repeat;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 270px;
    z-index: -1;
}



.ChoosingUs img {
    background-image: url(../pic/back_img.png);
    width: 181.23px;
    height: 93.11px;
}

.ChoosingUs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.ChoosingUs .ChoosingUs3 ul {
    justify-content: flex-start;
    height: 297px;
    margin-left: 190px;
}

.ChoosingUs ul li:nth-child(n+1) {
    width: 398px;
    height: 214px;
    margin-right: 30px;
}

.ChoosingUs ul li:nth-child(2) {
    width: 398px;
    height: 264px;
    margin-right: 30px;
}

.ChoosingUs h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #2B2C54;
    margin-top: 15px;
}

.ChoosingUs p {
    font-size: 18px;
    line-height: 140%;
    color: rgba(43, 44, 84, 0.7);
    font-size: 18px;
    line-height: 140%;
    margin-top: 15px;
}

.ChoosingUs h2 span::before {
    content: "";
    background: url("../pic/HeaderRedOval_center.png");
    position: absolute;
    width: 275.63px;
    height: 81px;
    left: 304px;
    top: 3px;
    z-index: 1;
}

.ChoosingUs .picture img {
    width: 85.74px;
    height: 80px;
}

.ChoosingUs3 {
    position: relative;
}

.ChoosingUs3::after {
    content: "";
    position: absolute;
    background-image: url(../pic/choosing_us_after.png);
    Width: 540px;
    Height: 540px;
    margin-top: -352px;
    margin-left: 757px;
}

/*review*/
.icon {
    display: flex;
    justify-content: space-between;
}

.review li {
    width: 540px;
    height: 261px;
    background: #fff;
    padding: 18px 20px 16px 30px;
    color: rgba(43, 44, 84, 0.7);
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;


}

.review .title {
    margin-bottom: 50px;

}

.feedback1 span {
    position: relative;
    padding-left: 50px;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: rgba(43, 44, 84, 0.7);
}

.feedback1 span::before {
    content: "";
    position: absolute;
    background: url(../pic/user_1.png) no-repeat;
    width: 36px;
    height: 33px;
    margin-left: -40px;

}

.feedback1 p:first-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: rgba(43, 44, 84, 0.7);
    text-align: center;
    margin-bottom: 8px;
}

.feedback1 p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(43, 44, 84, 0.7);
    margin-top: 21px;
}

.feedback1 span::after {
    content: "";
    position: absolute;
    background-image: url(../pic/logo_1.png);
    width: 142px;
    height: 33px;
    margin: 165px 0px 16px -250px;
}

.feedback2 {
    margin-left: 30px;
}

.name {
    width: 143px;
    height: 18.97px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #2B2C54;
    margin-left: 15px;
    position: relative;

}

.name::before {
    content: "";
    background: url('../pic/feedback2.png') no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: -66px;
    top: -13px;
}

.classification {
    height: 20px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(43, 44, 84, 0.7);

}

.date {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: rgba(43, 44, 84, 0.7);
    padding-top: 35px;
    margin-left: 100px;
}

.date::before {
    content: "";
    background: url('../pic/feedback2_stars.png') no-repeat;
    position: absolute;
    width: 116px;
    height: 20px;
    margin-left: -148px;

}

.text {
    margin-top: 20px;
    margin-left: -45px;
    position: relative;
    top: 23px;
}

.text::after {
    content: "";
    background: url('../pic/logo_2.png') no-repeat;
    position: absolute;
    width: 113px;
    height: 33px;
    left: 3px;
    top: 57px;
}

.feedback3 {
    margin-left: 30px;
}


.name1 {
    width: 143px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #2B2C54;
    margin-bottom: 11px;
    position: relative;
}

.name1::after {
    content: "";
    position: absolute;
    background: url('../pic/feedback3.png') no-repeat;
    width: 122px;
    height: 19px;
    left: 281px;
}

.name1::before {
    content: "";
    position: absolute;
    background: url('../pic/feedback2_stars.png') no-repeat;
    width: 96px;
    height: 18px;
    left: 422px;


}

.date1 {
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(43, 44, 84, 0.7);
    margin-bottom: 11px;
    position: relative;
}

.date1::after {
    content: "";
    position: absolute;
    background: url('../pic/logo_3.png') no-repeat;
    width: 114px;
    height: 32px;
    left: 0px;
    top: 170px;
}

.descr {
    overflow-y: auto;
    height: 100px;
    margin-bottom: 15px;
}

/* width */
.descr::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.descr::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.descr::-webkit-scrollbar-thumb {
    background: #8062F2;
}

/* Handle on hover */
.descr::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.footer {
    background-image: url(../pic/back_footer.png);
    width: 1920px;
    height: 581.5px;
    left: 0px;
    top: -59.5px;
    margin-top: 103px;
}

.icons{
    display: flex;
    
}
.icons li{
    margin-top: 50px;

}



