.container {
    height: 200px;
    display: flex;
    align-items: center;
}

.sprite {
    height: 148px;
    width: 70px;
    background: url('pic/sprite.png') 0px 0px;
    animation: moving 0.8s steps(6) infinite,
               step 10s linear infinite;
               
    position: absolute;
    left: 0;
}

.sprite1 {
    height: 48px;
    width: 48px;
    animation: coin 1s steps(10) infinite;
}


@keyframes moving {
    100% {
        background-position: -465px;
    }
    
}

@keyframes step {
    100%{
        left: 100%;
    }
    
}

@keyframes coin {
    from {
        background: url('pic/coin.webp') 0 0;
    }

    to {
        background: url('pic/coin.webp') -480px 0;
    }
}